
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    max-width: 1440px;
    scroll-behavior: smooth;
    transition: all .3s;
    margin: 0 auto;
}
body {
    margin: 0 auto;
    padding: 0;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

a,ul, li, h1, h2, h3, p {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;

}

img {
    max-width: 100%;
}

:root {
    --header-color: #F2785C; 
    --content-color: #0D606F;
    --preview-color: #FFFFFF;
    --transparent-color: #F2785CB2; 
    --background-color: rgba(255, 255, 255, 0.7);
}

.button {
    background-color: var(--content-color);
    font: 500 16px/21px 'Red Hat Text', sans-serif;
    color: var(--preview-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button__arrow {
    padding: 10px 32px;
    font: 500 24px/32px 'Red Hat Text', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.title {
    color: var(--header-color);
    font: 500 40px 'Red Hat Text';
    line-height: normal;
    text-align: center;
}

/* HEADER */

.header {
    background-image: url(../assets/img/desktop/desk_preview_bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.header__transparent {
    position: relative;
    z-index: 10;
    background: var(--transparent-color);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    max-width: 1440px;
    margin: 0 auto;
}
.header__wrapper{
    padding: 25px 0px; 
}

.header__navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
    padding-right: 40px;
}
 

.header__item-link {
    font: 500 16px/21px 'Red Hat Text', sans-serif;
    color: var(--preview-color);
}

.header__button {
    padding: 10px 30px;
}

.header__burger {
    display: none;
}

.header__logo-mobile {
    display: none;
}
/* SECTION PREVIEW */


.preview {
    padding: 30px 20px 258px;
    background-image: url(../assets/img/desktop/desk_preview_bg.png);
    background-repeat: no-repeat;
    background-position: center -90px;
}

.preview__conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.preview__title {
    max-width: 892px;
    font: 700 80px 'Aleo', serif;
    color: var(--preview-color); 
    font-style: normal;
    line-height: normal;
}

.preview__subtitle {
    font: 700 20px/24px 'Aleo';
    font-style: italic;
    color: var(--preview-color); 
}

.preview__form {
    max-width: 892px;
    border-radius: 15px;
    padding: 18px 18px 18px 40px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
}

.form__input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    font-family: 'Aleo', serif;
}

::placeholder {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    color: var(--header-color); 
  } 

.form__button {
    padding: 10px 32px;
    font: 500 24px/32px 'Red Hat Text', sans-serif;
}


/* SECTION STEPS */

.steps__title {
    padding-top: 80px;
}

.steps__conteiner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
}
.card__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.steps_card-1 {
    margin-left: 6px;
}
.steps_card-2 {
    margin-left: 77px;
}
.steps_card-3 {
    margin-right: 10px;
}
.card__text {
    font: 400 20px/24px 'Aleo';
    color: var(--content-color);
    padding-top: 30px;
}


/* SECTION DESTINATIONS */

.destinations__title {
    padding-top: 100px;
}

.destinations__conteiner {
    padding-top: 45px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.destinations__banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 175%;

}

.banner__content {
    position: relative;
}

.banner__subtitle {
    position: absolute;
    left: 15px;
    bottom: 40px;
    font: 500 32px/42px 'Red Hat Text', sans-serif;
    color: var(--preview-color);

}

.banner__img-desk {
    border-radius: 16px;
    object-fit: contain;
}

.destinations__carousel {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.destinations__button {
    margin: 0 auto;
    margin-top: 40px;
}

/* SECTION STORIES */ 

.stories__title {
    margin-top: 80px;
    margin-bottom: 40px;
}

.stories__gallery-bg {
    background-image: url(../assets/img/desktop/desk_stories_bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
}
.stories__gallery-transporent {
    background-color: var(--background-color);
}


 .stories__gallery { 
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

.gallery__card {
    display: flex;
    gap: 40px;
}

.gallery__img-deks {
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #0D606F;
}

.gallery__subtitle {
    font: 400 35px 'Aleo';
    color: var(--content-color);
    padding-bottom: 16px;
}

.gallery__text {
    font: 400 20px 'Aleo';
    color: var(--content-color);
}

.gallery__link {
    font: 400 20px 'Aleo';
    color: var(--content-color); 
    font-weight: bold;
}

.stories__button {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}


/* FOOTER */

.footer {
    background-image: url(../assets/img/desktop/desk_stories_bg.png);
    background-repeat: no-repeat;
    background-position: center -1252px; 
}

.footer__conteiner {
    padding: 13px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 286px; 
}

.footer__title {
    font: 500 16px/21px 'Red Hat Text';
    color: var(--preview-color);

}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}